* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    color: #a4a5a6;
    font-size: 24px;
    font-family: Roboto;
}

h1 {
    color: #e0a80d;
    font-size: 80px;
    line-height: 1;
    margin: 0 0 30px 0;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

.hiddenLeft {
    opacity: 0;
}
.hiddenRight {
    opacity: 0;
}


strong {
    color: #e0a80d;
}

.header {
    width: 100%;
    display: flex;
    height: 100vh;
}

.header__leftPart, .header__rightPart {
    height: 100%;
    display: flex;
    padding: 0 100px;
    box-sizing: border-box;
}

.header__leftPart {
    flex: .3;
    align-items: center;
    justify-content: flex-end;
    background: #2b2c2c;
}

.header__rightPart {
    flex: .7;
    align-items: flex-start;
    background: #2d2e2e;
    flex-direction: column;
}

.photo {

}

.photo > img {
    max-width: 350px;
    max-height: 350px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

}

.title h3 {
    font-size: 50px;
    font-weight: normal;
    margin: 0;
    line-height: 1;
}

.contacts {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 2px solid #515152;
    height: 150px;
    padding-top: 40px;
    box-sizing: border-box;
    font-size: 20px;
}

.contact__title {
    opacity: .6;
    font-size: 18px;
    margin-bottom: 10px;
}

.social {
    display: flex;
}

.social__icon {
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #3d3e3e;
    margin: 5px;
    padding: 5px;
    border: 5px solid #3d3e3e;
    cursor: pointer;
}

.social__icon:hover {
    background-color: #2b2c2c;
    color: #e0a80d;
    transition: background-color .3s;
}

.row {

}

.row:nth-last-of-type(even) .leftPart {
    background-color: #292a2a;
}

.row:nth-last-of-type(odd) .leftPart {
    background-color: #2b2c2c;
}

.row:nth-last-of-type(even) .rightPart {
    background-color: #2b2c2c;
}

.row:nth-last-of-type(odd) .rightPart {
    background-color: #2d2e2e;
}


.leftPart, .rightPart {
    display: flex;
    padding: 100px;
    box-sizing: border-box;
}

.row {
    width: 100%;
    display: flex;
}

.leftPart {
    flex: .3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.leftContent h3 {
    text-align: right;
    margin-bottom: 15px;
}

.leftContent div {
    font-size: 20px;
}

.rightPart {
    background: #2b2c2c;
    flex: .7;
    flex-direction: column;
}

.rightContent {
    display: flex;
    flex-wrap: wrap;
}

.skill {
    display: flex;
    align-items: center;
    flex-basis: 300px;
    margin-bottom: 50px;
}

.skill div {
    text-align: center;
    width: 100px;
    margin-right: 20px;
}

.skill div>i {
    font-size: 50px;
    color: #e0a80d;
}

.redux {
    background-color: #e0a80d;
    width: 50px;
    height: 50px;
    -webkit-mask: url('redux.svg') no-repeat center;
    mask: url('redux.svg') no-repeat center;
}

.graphql {
    background-color: #e0a80d;
    width: 50px;
    height: 50px;
    -webkit-mask: url('graphql.svg') no-repeat center;
    mask: url('graphql.svg') no-repeat center;
}

.firebase {
    background-color: #e0a80d;
    width: 50px;
    height: 70px;
    -webkit-mask: url('firebase.svg') no-repeat center;
    mask: url('firebase.svg') no-repeat center;
}

.typescript {
    background-color: #e0a80d;
    width: 50px;
    height: 48px;
    -webkit-mask: url('typescript.svg') no-repeat center;
    mask: url('typescript.svg') no-repeat center;
}

.webpack {
    background-color: #e0a80d;
    width: 50px;
    height: 50px;
    -webkit-mask: url('webpack.svg') no-repeat center;
    mask: url('webpack.svg') no-repeat center;
}

.skill div>img {
    width: 50px;
    background-color: #e0a80d;
    fill: #e0a80d;
    filter: ;
}

@keyframes popUp {
    0% {opacity: 0; transform: translate(0, 40px)}
    100% {opacity: 1; transform: translate(0, 0)}
}