
/* GENERAL */

* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    color: #a4a5a6;
    font-size: 20px;
    font-family: Roboto;
    box-sizing: border-box;
}

li {
    list-style: none;
    opacity: .7;
    font-size: 16px;
    text-indent: 10px;
    padding: 5px;
}

li:last-child {
    margin-bottom: 20px;
}

h1 {
    color: #e0a80d;
    font-size: 60px;
    line-height: 1;
    margin: 0 0 30px 0;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

strong {
    color: #e0a80d;
}

/* LAYOUT */

.hiddenLeft {
    opacity: 0;
}
.hiddenRight {
    opacity: 0;
}

.hiddenUnderline {
    opacity: 0;
}

.row {

}

.row:nth-last-of-type(even) .leftPart {
    background-color: #292a2a;
}

.row:nth-last-of-type(odd) .leftPart {
    background-color: #2b2c2c;
}

.row:nth-last-of-type(even) .rightPart {
    background-color: #2b2c2c;
}

.row:nth-last-of-type(odd) .rightPart {
    background-color: #2d2e2e;
}


.leftPart, .rightPart {
    display: flex;
    padding: 80px;
    box-sizing: border-box;
}

.row {
    width: 100%;
    display: flex;
}

.leftPart {
    flex: .3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.leftContent {
    text-align: right;
}

.leftContent h3 {
    text-align: right;
    margin-bottom: 15px;
}

.leftContent div {
    font-size: 16px;
}

.rightPart {
    background: #2b2c2c;
    flex: .7;
    flex-direction: column;
}

.rightContent {
    display: flex;
    flex-wrap: wrap;
}

/* HEADER */

.header {
    width: 100%;
    display: flex;
    height: 100vh;
    box-sizing: border-box;
}

.header__leftPart, .header__rightPart {
    height: 100%;
    display: flex;
    padding: 0 80px;
    box-sizing: border-box;
}

.header__leftPart {
    flex: .3;
    align-items: center;
    justify-content: flex-end;
    background: #2b2c2c;
}

.header__rightPart {
    flex: .7;
    align-items: flex-start;
    background: #2d2e2e;
    flex-direction: column;
}

.photo {
    box-sizing: border-box;
}

.photo > img {
    max-width: 350px;
    max-height: 350px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

}

.title h3 {
    font-size: 40px;
    font-weight: normal;
    margin: 0;
    line-height: 1;
}

/* CONTACTS */

.contacts {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top: 2px solid #515152;
    height: 130px;
    padding-top: 30px;
    box-sizing: border-box;
    font-size: 18px;
}

.contact__title {
    opacity: .6;
    font-size: 16px;
    margin-bottom: 10px;
}

/* SOCIAL */

.social {
    display: flex;
}

.social__icon {
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #3d3e3e;
    margin: 5px;
    padding: 5px;
    border: 5px solid #3d3e3e;
    cursor: pointer;
}

.social__icon:hover {
    background-color: #2b2c2c;
    color: #e0a80d;
    transition: background-color .3s;
}

/* SKILLS */

.skills {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -50px;
}

.skill {
    display: flex;
    align-items: center;
    flex-basis: 300px;
    margin-bottom: 50px;
}

.skill div {
    width: 80px;
    display: flex;
    justify-content: center;
}

.skill div>i {
    font-size: 50px;
    color: #e0a80d;
}

.redux, .graphql, .firebase, .typescript, .webpack {
    background-color: #e0a80d;
    width: 50px;
    height: 45px;
    text-align: center;
    margin-top: 3px;
    margin-bottom: 2px;
}

.redux {
    -webkit-mask: url('assets/redux.svg') no-repeat center;
    mask: url('assets/redux.svg') no-repeat center;
}

.graphql {
    -webkit-mask: url('assets/graphql.svg') no-repeat center;
    mask: url('assets/graphql.svg') no-repeat center;
}

.firebase {
    -webkit-mask: url('assets/firebase.svg') no-repeat center;
    mask: url('assets/firebase.svg') no-repeat center;
}

.typescript {
    -webkit-mask: url('assets/typescript.svg') no-repeat center;
    mask: url('assets/typescript.svg') no-repeat center;
}

.webpack {
    -webkit-mask: url('assets/webpack.svg') no-repeat center;
    mask: url('assets/webpack.svg') no-repeat center;
}

/* EDUCATION */

.education {
    display: flex;
    flex-direction: column;
    margin-bottom: -20px;
}

.icon {
    text-align: center;
    width: 100px;
    margin-right: 20px;
    font-size: 50px;
    color: #e0a80d;
}

.course {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/* PROJECT */

.project__data a {
    text-decoration: none;
    color: #e0a80d;
}

.project__data a:hover {
    text-decoration: underline;
}


.project__data {
    min-height: 500px;
}

.project__title {
    margin-bottom: 20px;
}

.project__title-underline {
    height: 3px;
    width: 0;
    background-color: #e0a80d;
    border-radius: 1px;
}

.project__screens {
    position: relative;
}

.screen_1, .screen_2, .screen_3 {
    overflow: hidden;
    position: absolute;
    width: 300px;
    height: 250px;
    border: 1px solid #e0a80d;
    border-radius: 3px;
}

.project__screens img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    transition: transform 2s;
}

.project__screens img:hover {
    transform: scale(1.2, 1.2);
    transition: transform 2s;
    cursor: pointer;
}

.screen_1 {
    top: 100px;
    right: 100px;
    z-index: 100;
}

.screen_2 {
    top: 0px;
    right: -50px;
}

.screen_3 {
    top: 200px;
    right: 0;
}


@media only screen and (max-width: 1500px) {
    .screen_1, .screen_2, .screen_3 {
        width: 180px;
        height: 140px;
    }

    .project__screens img {
        width: 180px;
        height: 140px;
    }

    .screen_1 {
        top: 50px;
        right: 100px;
        z-index: 100;
    }

    .screen_2 {
        top: 0px;
        right: -50px;
    }

    .screen_3 {
        top: 100px;
        right: 0;
    }
}

@media only screen and (max-width: 1200px) {

    /* GENERAL */

    h1 {
        font-size: 50px;
        margin: 0 0 15px 0;
    }

    .leftContent h3 {
        margin-bottom: 5px;
    }

    p {
        line-height: 1.3;
        margin-bottom: 10px;
    }

    .header {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        background: #2b2c2c;
    }

    .header__leftPart, .header__rightPart {
        padding: 10px 5px;
    }

    .header__leftPart {
        align-items: center;
        justify-content: center;
    }

    .header__rightPart {
        align-items: flex-start;
        flex-direction: column;
        background: #2b2c2c;
        font-size: 16px;
    }

    .photo > img {
        max-width: 250px;
        max-height: 250px;
    }

    .title {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .title h3 {
        text-align: center;
        font-size: 30px;
    }

    .title h1 {
        text-align: center;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        height: 80px;
        padding-top: 10px;
        font-size: 16px;
        margin-top: 10px;
    }

    .contact {
        display: flex;
        justify-content: center;
        margin-bottom: 0;
    }

    .contact__title {
        display: none;
    }

    .social {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    .social__icon {
        width: 30px;
        height: 30px;
        margin: 5px;
        padding: 0;
        border: 3px solid #3d3e3e;
        cursor: pointer;
    }

    .row:nth-last-of-type(even) .leftPart {
        background-color: #202020;
    }

    .row:nth-last-of-type(odd) .leftPart {
        background-color: #202020;
    }

    .row:nth-last-of-type(even) .rightPart {
        background-color: #2d2e2e;
    }

    .row:nth-last-of-type(odd) .rightPart {
        background-color: #2d2e2e;
    }

    .row {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .leftPart {
        padding: 10px 5px;
        border-top: 2px solid grey;
        border-bottom: 1px solid grey;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .leftContent {
        text-align: center;
    }

    .leftContent h3 {
        text-align: center;
    }

    .leftContent div {
        font-size: 16px;
    }

    .rightPart {
        text-align: center;
        padding: 10px;
        background: #2b2c2c;
        flex-direction: column;
    }

    .rightContent {
        display: flex;
        flex-wrap: wrap;
        font-size: 14px;
    }

    /* SKILLS */

    .skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: -20px;
    }

    .skill {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex-basis: 100px;
        margin-bottom: 20px;
    }

    .skill>div {
        text-align: center;
        width: 60px;
        margin-right: 0;
        margin-top: 3px;
        margin-bottom: 5px;
    }

    .education {
        display: flex;
        flex-direction: column;
        margin-bottom: -10px;
    }

    .icon {
        text-align: center;
        max-width: 40px;
        margin-right: 15px;
        font-size: 32px;
        color: #e0a80d;
    }

    .course {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .project__data {
        width: 100%;
        min-height: auto;
    }

    .project__title {
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }

    .project__title-underline {
        margin: 5px auto;
        height: 2px;
        max-width: 500px;
        width: 0;
        background-color: #e0a80d;
        border-radius: 1px;
    }

    .project__screens {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .screen_1, .screen_2, .screen_3 {
        width: 150px;
        height: 100px;
        margin: 5px 10px;
        position: relative;
        display: flex;
        justify-content: center;
        border-radius: 3px;
        border: 1px solid #e0a80d;
    }

    .project__screens img {
        width: 150px;
        height: 100px;
        object-fit: cover;
        transition: transform 1s;
    }

    .screen_1 {
        z-index: 100;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .screen_2 {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .screen_3 {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

@media only screen and (max-width: 600px) {
    .header {
        height: 100vh;
    }

    .title {
        justify-content: space-between;
    }
}

@keyframes popUp {
    0% {opacity: 0; transform: translate(0, 40px)}
    100% {opacity: 1; transform: translate(0, 0)}
}